<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>   
    <add key="FtpFileSaveDir" value="D:\IN2\Batch\Data\" />
    <add key="FtpLocation" value="ftp://127.0.0.1:21/BE/" />
    <add key="FtpBakLocation" value="ftp://127.0.0.1:21/BE/backup/" />
    
    <!--<add key="FtpLocation" value="ftp://10.100.68.71:21/BE/" />-->
    <!--<add key="FtpBakLocation" value="ftp://10.100.68.71:21/BE/backup/" />-->
    
    <add key="FtpRelativeBakLocation" value="backup/" />
    <add key="FtpUser" value="steven" />
    <add key="FtpPwd" value="Aa@123456" />
    <add key="isDownloadAndMove" value="N" />
    <add key="FileName" value="Announce"/>  
    <add key="FileExtension" value="txt"/>
  </appSettings>
  <connectionStrings>
    <!--SYSCOM測試環境-->
    <add name="sysConn" connectionString="Data Source='172.16.220.82';Port='5000'; Database='IN2DB';UID='sa';PWD='' " />
    <!--NPA正式環境-->
    <!--<add name="sysConn" connectionString="Data Source='200.200.68.70';Port='4100'; Database='IN2DB';UID='INU001';PWD='#in-ps01' "/>-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>